<link rel="stylesheet" href="/static/style.css" type="text/css">
{% block body %}
{% if error %}
    <p class=error><strong>Error:</strong> {{ error }}
{% elif session['logged_in'] %}
<p>You're logged in already!</p>
{% else %}
 
 
<form action="/login" method="POST">
        <div class="login">
                <div class="login-screen">
                        <div class="app-title">
                                <h1>File Media Login</h1>
                        </div>

                        <div class="login-form">
                                <div class="control-group">
                                        <input type="text" class="login-field" value="" placeholder="username" name="username">
                                        <label class="login-field-icon fui-user" for="login-name"></label>
                                </div>

                                <div class="control-group">
                                        <input type="password" class="login-field" value="" placeholder="password" name="password">
                                        <label class="login-field-icon fui-lock" for="login-pass"></label>
                                </div>

                                <input type="submit" value="Log in" class="btn btn-primary btn-large btn-block" >
                                <br>
                        </div>
				<div>
				Don't have an account? &nbsp;
				<a href="/new_user">Sign up</a>
				</div>
				<div>
				   <br>	<span style="padding-left:80px;">OR</span></div>
				<div>
					<br>
					<form name="otherlogin" action="/glogin" method="POST","GET">
						<!-- <a href="/glogin">Login with Google</a> -->
						<input class="glogin" type ="button" value= " Login with Google"><br>
						<input class="glogin" type ="button" value="Login with Facebook"><br>
						<input class="glogin" type ="button" value= " Login with Twitter"><br>


					</form>
				</div>

                </div>
        </div>
</form>
 {% endif %}
{% endblock %}
