<!DOCTYPE html>
<html> 
    <form action="/signup" method= "POST">
        <link rel="stylesheet" href="/static/style.css" type="text/css">
        <div class="login">
            <div class="login-screen">
                <div class="app-title">
                    <h1> FileMedia SignUp</h1>
                </div>
                <hr>
                <div class="login-form">
                    <div class="control-group">

                        <label class="login-field-icon fui-user" for="login-name"><b>User Name</b></label>
                        <input type="text" class="login-field" value="" required placeholder="username" name="username">
                        <br>
                        <label class="login-field-icon fui-lock" for="login-pass"><b>Password</b></label>		
                        <input type="password" class="login-field" value="" required placeholder="password" name="password">
                        <br>
                        <label for="First Name"> <b>First Name </b></label>
                        <input type="text" class="" required name="firstname">
                        <label for="Last Name"> <b>Last Name </b></label>
                        <input type="text" class="" required name="lastname">
                        <label for="email"><b>Email</b></label>
                        <input type="email" required  name="email" /> <br />
                        <br>

                        <input type="submit" value="Submit" class="btn btn-primary btn-large btn-block" >
                    </div>
                </div>
            </div>
        </div>
    </form>
</html>

