<!DOCTYPE html>
<html> 
	
<link rel="stylesheet" href="../static/style.css" type="text/css">
  <div class="login">
  <div class="login-screen">
   <div class="app-title">
     <h1> New User Sign Up</h1>
   </div>
   <hr>
   <form action="/signup" method= "POST">
   <div class="login-form">
     <div class="control-group">
     <div class="container">
     
      <label class="login-field-icon fui-user" for="login-name"><b>User Name</b></label>
      <input type="text" class="login-field" value="" placeholder="username" name="username">
      <br>
      <label class="login-field-icon fui-lock" for="login-pass"><b>Password</b></label>		
      <input type="password" class="login-field" value="" placeholder="password" name="password">
      <br>
       <label for="First Name"> <b>First Name </b></label>
      <input type="text" class="" name="firstname">
       <label for="Last Name"> <b>Last Name </b></label>
      <input type="text" class="" name="Lastname">
      <label for="email"><b>Email</b></label>
      <input type="email" required /> <br />
      <br>
     </div>
 
     <input type="submit" value="Submit" class="btn btn-primary btn-large btn-block" >
    </div>
</div>
  </div>
   </form>
  </div>
  </div>
</body>
</html>

